* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Glossy;
  src: url(./fonts/Glossy\ Sheen\ Outline\ DEMO.ttf);
  src: url(./fonts/Glossy\ Sheen\ Regular\ DEMO.ttf);
  src: url(./fonts/Glossy\ Sheen\ Shadow\ DEMO.ttf);
  src: url(./fonts/Glossy\ Sheen\ Shine\ DEMO.ttf);
}

body {
  background-color: white;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

div.container {
  margin-left: auto;
  margin-right: auto;
  width: 1050px;
  padding: 10px;
}

h1 {
  font-family: Glossy;
  font-size: 60px;
  color: #b7f2a6;
  text-align: center;
  text-shadow: 2px 2px 2px rgb(239, 123, 156);
}

h2,
span {
  font-family: Glossy;
  color: #dc1919;
  opacity: 40%;
}

h1:hover {
  opacity: 50%;
}

.next,
.back,
.basket,
.refresh,
.empty {
  width: 100px;
  height: 30px;
  font-size: 15px;
  color: #1d4adc;
  border-radius: 5px;
  opacity: 70%;
  cursor: pointer;
  background-image:#ffffff;
}


.buttons {
  display: grid;
  grid-template-columns: 4fr 1fr;
 
}


.card {
  display: flex;
}

.div_basket{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.cards {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px 5px;
}

.input_button {
  margin-top: 10px;
  margin-bottom: 5px;
}

#name1,
#species,
#world {
  width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.direction_buttons {
  display: grid;
  grid-template-columns: 100px 1fr 1fr;
  grid-template-rows: 50px 50px;
}

.page {
  color:rgb(115, 156, 237);
  font-size: 30px;
}

.page_hidden {
  font-family: Glossy;
  color:rgb(0, 149, 255);
  font-size: 30px;
}