* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Glossy;
  src: url(./fonts/Glossy\ Sheen\ Outline\ DEMO.ttf);
  src: url(./fonts/Glossy\ Sheen\ Regular\ DEMO.ttf);
  src: url(./fonts/Glossy\ Sheen\ Shadow\ DEMO.ttf);
  src: url(./fonts/Glossy\ Sheen\ Shine\ DEMO.ttf);
}

body {
  background-color: antiquewhite;
  background-size: cover;
}

div.container {
  padding: 10px;
}

h1 {
  font-size: 60px;
  font-family: Glossy;
  color: blueviolet;
  text-shadow: 2px 2px 2px rgb(0, 0, 255);
}

h2,
span {
  font-family: Glossy;
  color: #dc1919;
  opacity: 70%;
}

h1:hover {
  opacity: 50%;
}

.next,
.back {
  width: 200px;
  height: 40px;
  font-family: Glossy;
  font-size: 25px;
  color: #1d4adc;
  border-radius: 5px;
  opacity: 70%;
  cursor: pointer;
}

.buttons {
  width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  display: flex;
}

.cards {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 10px;
}
